*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.body-container{
	height:100vh;
	width:100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top:-80px;
	
}
.container{
	height:100px;
	width:100%;
}
.input-container{
	display:flex;
	justify-content: space-between;
	width:90%;
}
.input{
	padding-left: 20px;
	width:90%;
	height:50px;
	margin-top:30px;
	border:1px solid rgb(190, 189, 189);
}
.input:focus{
	box-shadow:1px 1px 4px 1px rgb(190, 189, 189) ;
}

.input-container input{
width:49%;
height:50px;
}
input[type=submit]{
	height:50px;
	width:90%;
	margin-top:30px;
	border:none;
	/* transition:1s; */
	font-weight: bolder;
	box-shadow:1px 1px 4px 1px rgb(74, 73, 73) ;
	
}
input[type=submit]:hover{
	box-shadow: none;
}
input:focus{
	outline: none;
}
.text-name{
	margin-left:-55px;
	text-shadow:1px 1px 5px grey;
	user-select: none;
}



