* {
	/* background-color: white; */
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* REMEMBER TO STORE ALL THE VARIABLES IN A VARIABLE NAME,
DO THAT TODAY AT WORK */
/*HEADER SECTION*/
main {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	background-color: white;
}

.flex-container {
	margin: 30px 30px 0 0
}

a {
	text-decoration: none;
}
a:active{
	color:white;
}

.b,
.show {
	padding: 10px;
	border-radius: 10px;
	;
}
.size{
	margin-left: 45px;
}

.a,
.show {
	color: rgb(2, 34, 24);
	transition: 1s;

}

.main-container {
	height: 70px;
	width: 95%;
	display: flex;
	background-color: rgb(237, 235, 235);
	background-image: repeating-linear-gradient(rgb(189, 186, 186), whitesmoke);
	justify-content: space-between;
	padding: 30px;
	border: none;
	align-items: center;
	position: sticky;
	box-shadow: 1px 1px 6px 1px rgb(158, 145, 145);
}

.logo {
	margin-left: 50px;
	color: rgb(2, 34, 24);
}

.nav .nav-list {
	display: flex;
	width: 800px;
	justify-content: space-evenly;

}

.nav-list {
	display: inline;
}
.a{
	text-shadow: none;
}
.b:hover {
	/* background-color: rgb(127, 122, 122); */
	text-shadow: 1px 1px 4px grey;
	color: white;
}

.show {
	cursor: pointer;
}

.show:hover {
	text-shadow: 1px 1px 4px black;
	color: white;
}
.arrow{
height: 15px;
width:15px;	
margin-left: 5px;
}
.update{
	margin-left:0px;
	float:right;
}

.list-container {
	height: 205px;
	width: 180px;
	display: none;
	transition: 10s;
	position: absolute;
	/* padding: 30px; */
	padding: 0;
	margin-top:0px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	background-color: transparent;
	/* box-shadow: 0 2px 5px 1px grey; */
	
}

.hidden-list {
	background-color: white;
	list-style-type: none;
	height: 100%;
	width: 100%;
	margin-top:26px;
	box-shadow: 0 1px 3px 1px grey;
	/* border-bottom: .5px solid black; */
	text-align: left;

}

.hidden-list a li {
	text-decoration: none;
	color: black;
	font-size: 12px;
	padding: 10px;
}
.float{
	float:right;
}

.hidden-list a li:hover {
font-weight: bolder;
	/* border-bottom: .5px solid white; */
}
.imgdiv{
	display: inline;
}
.arrow{
	transition: .2s;
}
.show:hover .list-container {
	display: block;
}
.show:hover .arrow {
	/* animation-name:turn;
	animation-duration:1s;
	animation-iteration-count: 2; */
	transition: .2s;
	transform: rotate(180deg);
}
.anchor-list{
padding-bottom: 5px;
}
/*ENDING OF HEADER SECTION */
/* ASIDE DESIGN */
.aside-container {
	height: 100vh;
	width: 17%;
	border: none;
	background-color: rgb(42, 41, 41);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position:fixed;
	
	margin:0;
	margin-right:83%;
	padding: 10px 0px 0px 10px;
}

.img-holder {
	height: 190px;
	width: 80%;
	border-radius: 50%;

}

.profile {
	object-fit: cover;
	height: 100%;
	width: 100%;
	border-radius: 50%;


}

.menu-container {
	margin-top: 40px;
	align-self: flex-start;
	margin-left: 10px;
	width: 100%;
}

.menu-list {
	margin-top: 30px;
	width:0;
	text-decoration: none;
	border-bottom: .5px solid grey;
	padding-bottom: 10px;
	transition: all .2s;
	color: grey;
	font-weight: lighter;
	transition-timing-function: ease-in;
}

.menu-list a {
	color: grey
}

.menu-list:hover {
	border-bottom: .5px solid white;
	width: 80%;
}

.menu-list:hover a {
	color: white;
}
.aside-container .menu-container .menu-list .username,
.aside-container .menu-container .menu-list .picture,
.aside-container .menu-container .menu-list .email,
.aside-container .menu-container .menu-list .password {
	color: white;
}

/* ENDING OF ASIDE SECTION */
/* BODY SECTION */
.body-container {
	margin-top: 30px;
}

.body-container .container {
	height: 400px;
	width: 100%;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.question{
	margin-top:30px;
	display:flex;
	width:100%;
	justify-content:space-between;
}
.question input{
	width:49%;
	height:50px;
	margin-top:0px;
}
input{
	width:100%;
	height:50px;
	margin-top:15px;
	padding-left:20px;
	border:none;
	outline:1px solid grey;
}
input[type=submit]{
	width:30%;
	padding:0;
	
}
input:focus{
	border:none;
	outline:none;
	box-shadow: 1px 1px 4px 1px grey;
}
/* QUESTION BOX */
.question-container{
	margin-top:40px;
}
.answer-div{
	height:150px;
	width:100%;
	box-shadow: 1px 1px 4px 1px grey;
	margin-top: 30px;
	padding-top:10px;
	padding-left:10px;
}
.answer-div p{
	margin-top: 10px;
}
.button{
	margin-top: 20px;
	float:right;
	height:40px;
	width:60px;
	box-shadow: 1px 1px 8px 1px grey;
	border:none;
	/* margin-bottom: 50px	; */
}
.button:hover{
	box-shadow: none;
	transition:2s;
}
.questions{
	padding-left:20px;
	height:30px;
	border-radius: 5px;
	border:1px solid grey;
}
form{
	float:right;
}
/* END OF QUESTION BOX */
/* ENDING OF BODY SECTION */
