* {
	background-color:transparent;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	user-select: none;
	scroll-behavior: smooth;
}

/* REMEMBER TO STORE ALL THE VARIABLES IN A VARIABLE NAME,
DO THAT TODAY AT WORK */
/*STARTING MAIN SECTION STYLE*/
main {
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.flex-container {
	width: 60%;
}

.aside-container {
	height: 624px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: space-evenly;
	width: 18%;
	box-shadow: 1px 1px 7px 1px rgb(223, 222, 222);
	background-color: rgb(42, 41, 41);
	position: fixed;
	margin-left:-1106px;
	margin-top: -20px;
}

.half-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: 300px;
	width: 100%;
}

.footer-sidebar {
	align-self: flex-end;
	justify-content: center;
	width: 100%;
	background-color: rgb(42, 41, 41);
	color: white;
	font-weight: bolder;
	font-size: 14px;
	text-align: center;
}

.image-container {
	height: 75%;
	width: 90%;
	margin-top: 30px;
	background-color: rgb(42, 41, 41);
}
.flex-container{
	margin-left:100px;
}
.text-container {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 200px;
	background-color: rgb(42, 41, 41)
}

h3,
h4 {
	background-color: rgb(42, 41, 41);
	color: white;
	text-align: center;
}

img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

/* .half-container{
	height: 50%;
	width:100%;
	border-bottom: 2px solid black;
} */

progress {
	width: 100%;
	height: 10px;
}

.cover-container {
	margin-top: 20px;
}

/*add the cover container here*/
.button-container {
	height: 120px;
	width: 100%;
	/* border: .5px solid rgb(114, 113, 113); */
	overflow-y: auto;
	box-shadow: 1px 1px 7px 1px rgb(223, 222, 222);
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 10px 0px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

progress{
	background-color: red;
}
progress::-webkit-progress-bar{
	background-color: white;
	height: 10px;

	
}
progress::-webkit-progress-value{
	background-color: orangered;
	border-radius: 6px;
	transition: all .5s;
}
.top,
p {
	margin-top: 20px;

}

.options {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 260px;
	position: relative;
}

.option-cover {
	margin-top: 10px;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	padding:10px;
	box-shadow: 1px 1px 7px 1px rgb(223, 222, 222);
}

label {
	height: 40px; 
	padding-left: 10px;
	margin-top:5px;
	font-weight: normal;
	display:inline;
}
.input:checked ~a.label1{
	background:red;
}
.buttons {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

.submit{
	height: 40px;
	width: 80px;
	color: white;
	/* border: none; */
	font-weight: bolder;
	transition: .1s;
	margin-top:10px;
	border:2px outset grey;
	background-color: green;
	box-shadow: 1px 1px 5px 1px rgb(133, 131, 131);
	float:right;
}
.submit:hover{
	border:2px inset black;
	box-shadow: none;
	transition: .5s;
	background-color: white;
	color:green;
}

.button-click:hover {
	box-shadow: none;
}

.green,
.green:hover {
	background-color: green;
}

.red,
.red:hover {
	background-color: red;

}
.button{
	height: 30px;
	width: 33px;
	border-radius: 5px;
	/* font-weight: bold; */
	border:.5px solid rgb(114, 113, 113);
	margin-left:7px;
}

.button:hover{
	background-color: orange;
	color: white;
	transition: 1s;
	border: none; 	
}

